form{
  margin: 2em 10vw;
  display: flex;
  flex-direction: column;
  width: 25em;
  padding: 1em;
  h1{
    font-weight: normal;
    text-shadow: 0 0 .05em #000;
    margin-bottom: 1em;
  }
  .submit{
    margin-top: .5em ;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    button{
      padding: .5em 3em;
      border: 1px solid #aaa ;
      border-radius: .5em;
      background-color: #21b759;
      &:is(:hover,:focus){
        text-decoration: underline;
      }
    }
  }
}