<footer class="mt-auto container-fluid d-flex justify-content-around p-2 pb-0">
    <ul>
       <li>Getsion locative</li>
       <li>Contact téléphone : <a href="tel:0617525075">06 17 52 50 75</a></li>
       <li>Contact Email : <a href="mailto:maxime.wiatr@gmail.com">maxime.wiatr@gmail.com</a></li>
    </ul>
    <p>Version 1</p>
</footer>