{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset("css/connexion.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <form action="#" method="get">
        <h1>Connectez-vous</h1>
        <div class="input input-mail">
            <label for="email">Email</label>
            <input name="email" id="email" type="email">
        </div>
        <div class="input input-password">
            <label for="password">Mot de passe</label>
            <input name="password" id="password" type="password">
            <button type="button" class="button-password">
                <img src="{{ asset('image/eye-slash-fill.svg') }}">
                <img src="{{ asset('image/eye-fill.svg') }}">
            </button>
        </div>
        <div class="submit">
            <button type="submit">Connexion</button>
            <a href="#">Mot de passe oublié ?</a>
        </div>
    </form>
{% endblock %}