body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.btn-custom {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.color-custom-primary {
    color: var(--primary-color);
    text-transform: capitalize;
}

.index-list {
    list-style: '>' ;
}

.index-list a {
    color: var(--text-secondary);
    text-decoration: none;
}

.user-residence-view {
    max-height: 600px;
    overflow-y: scroll;
}