{% extends 'base.html.twig' %}

{% block body %}
    <div class="m-5">
        {% if residence is defined and residence not empty %}

        {% else %}

            Un problème est survenue

        {% endif %}
    </div>
{% endblock %}
