nav {
    background-color: var(--primary-color);
}

nav .logo {
    /*width: 5em;*/
    background-color: var(--text-light);
    padding: .5em 2em;
}

nav .container-fluid .navbar-brand img {
    height: 3.5rem;
}

nav .nav-link, nav .nav-link.active {
    color: var(--text-primary) ;
    font-size: 1.7em;
}

nav .nav-link:hover {
    color: var(--text-secondary) ;
}

nav .nav-link.active {
    text-decoration: underline ;
}


/*cb */
/*piece didentiter*/
/*photocopie des diplome*/

/*attestation de stage des 2 ans*/
/*                           */
