<footer>
    <ul class="contact">
        <li>
            Gestion locative
        </li>
        <li>
            Contact téléphone : 06 06 06 06 06
        </li>
        <li>
            Contact email : contact@gestionlocative.fr
        </li>
    </ul>
    <p class="version">
        version 1.0
    </p>
</footer>