<nav class="navbar">
    <div class="navbar-brand">
        <img src="{{asset("image/logo.png")}}" alt="LOGO">
    </div>
    <ul class="navbar-items" data-toggle>
        <li class="navbar-item">
            <a href="#" class="active">Accueil</a>
        </li>
        <li class="navbar-item">
            <a href="#">Biens</a>
        </li>
        <li class="navbar-item">
            <a href="#">Locataires</a>
        </li>
        <li class="navbar-item">
            <a href="#">Mandataires</a>
        </li>
    </ul>
    <div class="navbar-profil" data-toggle>
        <img src="{{ asset("image/profil.svg") }}">
        <a href="#">Mon profil</a>
    </div>
    <button id="navbar-toggler" class="navbar-toggler" type="button"></button>
</nav>