<table>
        <tr>
                <th>#</th>
                <th>Email</th>
        </tr>
    {% for owner in owners %}
        <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.email }}</td>
        </tr>
    {% endfor %}
</table>